@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
}

:root {
	--hot-color: #f8d57e;
	--hot-color-02: #d3ae50;
	--cold-color: #bfaff2;
	--cold-color-02: #947ddf;
	--bg-color-01: #333333;
	--bg-color-02: #fdf5df;
	--text-color: #ffffff;

	--full-height: 100vh;
	--border: 1px solid rgba(255, 255, 255, 0.2);
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

img {
	width: 100%;
	/* object-fit: cover; */
}

#root {
	width: 100%;
	min-height: 100vh;
	background-color: #2b2b2b;
}

.logo {
	font-size: 1.5rem;
	font-weight: 600;
	cursor: default;
}

.title {
	font-size: 3.5rem;
	font-weight: 600;
}

.subtitle {
	font-size: 1.125rem;
	opacity: 0.4;
}

.btn {
	width: 175px;
	height: 50px;
	border: none;
	border-radius: 15px;
	background: none;
	font-size: 1.3rem;
	cursor: pointer;
}

.simple-btn,
.btn.cold-btn,
.btn.hot-btn {
	transition: 0.3s ease;
}

.simple-btn:hover {
	text-decoration: underline;
}

.btn.cold-btn {
	background-color: var(--cold-color);
	color: var(--bg-color-01);
}

.btn.cold-btn:hover {
	background-color: var(--cold-color-02);
	color: var(--text-color);
}

.btn.hot-btn {
	background-color: var(--hot-color);
	color: var(--bg-color-01);
}

.btn.hot-btn:hover {
	background-color: var(--hot-color-02);
	color: var(--text-color);
}

@media screen and (max-width: 768px) {
	.logo {
		font-size: 1.5rem;
	}

	.title {
		font-size: 2.8rem;
	}
}
